<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Blank Template</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>


	<script type="text/javascript" src="js/main.js"></script>
</body>
<!-- Nav For the top of the html doc -->
<nav>
	<img src="#" alt="logo">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Home</a></li>
		<li><a href="#">Home</a></li>
		<li><a href="#">Home</a></li>
		<li><a href="#">Home</a></li>
		<li><a href="#">Home</a></li>
		<li><a href="#">Home</a></li>
	</ul>
</nav>
<!-- Header for the first content being shown -->
<header>
	<!-- 2 sections to split the page evenly -->
	<section class="header">
		<section>
			<h1>Inject Your Brand and Values into a Physical Space</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam placeat sunt, sapiente autem unde fugiat
				qui
				eius dolor, modi ipsa atque delectus, ex obcaecati nam.</p>
		</section>
		<!-- Section inside a section to split the buttons -->
		<section>
			<a href="#">Order Content</a>
			<a href="#">Create an Account</a>
		</section>
	</section>
	<!-- Second Section to put the image -->
	<section>
		<img src="#" alt="Image Here">
	</section>
</header>

<main>
	<aside>
		<ul>
			<li><a href="#">Netflix</a></li>
			<li><a href="#">Netflix</a></li>
			<li><a href="#">Netflix</a></li>
			<li><a href="#">Netflix</a></li>
			<li><a href="#">Netflix</a></li>
			<li><a href="#">Netflix</a></li>
			<li><a href="#">Netflix</a></li>
		</ul>
	</aside>
	<section>
		<section>
			<span>How we can help your business</span>
			<h3>We Are a Full-Service Marketing and Design Firm</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laboriosam saepe labore esse repellat,
				odit
				nemo reprehenderit distinctio delectus. Suscipit, fugiat veritatis vero quos animi nulla quia sed minus
				tenetur aut cupiditate eius repellendus ut neque sequi. Repudiandae a odio error consequuntur nam
				expedita
				dolores, pariatur quas similique nostrum voluptates quidem et magni voluptate vero labore tempore
				quaerat.
				Dolorem, tempore nobis? Placeat molestiae est culpa, consequuntur provident quasi ex blanditiis animi
				officiis tempora fuga corporis!
			</p>
			<li><a href="#">Order Content</a></li>
		</section>
		<section>
			<section class="card">
				<img src="#" alt="Image here">
				<h4>Media Buying</h4>
				<span>We provide ....</span>
			</section>
			<section class="card">
				<img src="#" alt="Image here">
				<h4>Media Buying</h4>
				<span>We provide ....</span>
			</section>
			<section class="card">
				<img src="#" alt="Image here">
				<h4>Media Buying</h4>
				<span>We provide ....</span>
			</section>
			<section class="card">
				<img src="#" alt="Image here">
				<h4>Media Buying</h4>
				<span>We provide ....</span>
			</section>
		</section>
	</section>

</main>

</html>