/* Please give the h1 some padding on two sides and zero on others, margin on the sides with no padding, thin purple border on sides without margin, gold background but the gold must be the exact color from the hufflepuff crest */
h1 {
    padding: 0 40px;
    margin: 40px 0;
    border-left: solid thin purple;
    border-right: solid thin purple;
    background-color: gold;
}

/* Please give the h2 significant padding on the left and right, a red border on the left and right but the red must be the same from the mighty morphin power rangers logo, and an orange background, and the roboto font */
h2 {
    padding: 0 75px;
    border-left: solid 10px red;
    border-right: solid 10px red;
    background-color: orange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    border-left: solid thick magenta;
    padding: 100px 0;
    margin-right: 200px;
}

span {
    border: solid dodgerblue;
    padding: 0 30px 30px 0;
    background-color: rgb(254, 144, 129);

}


/* Please give the section a thick magenta border on the left, 100px of padding on the top and bottom, and 200px of margin on every side without padding or border */

/* Please make the spans have thin Dodger Blue borders, padding on the bottom and right, and light red background */