/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: rgb(74, 74, 100);
}


/******************************************
/* LAYOUT
/*******************************************/

nav {
  width: 100%;
  float: left;

}

nav img {
  width: 40%;
  height: 40px;
  float: left;
  padding-left: 60px;
}

nav ul {
  width: 60%;
  height: 40px;
  float: left;
  list-style: none;
}

nav>ul li {
  width: 14.2857%;
  float: left;

}

nav li a {
  color: white;
}

header {
  width: 100%;
  background-color: rgbrgb(74, 74, 100);
  color: rgb(190, 189, 189);
  float: left
}

header>section {
  width: 50%;
  float: left;
}

.header>section h1,
p {
  width: 100%;
  float: left;
}

.header>section+section a {
  width: 50%;
  float: left;
  color: white;
}

header>section+section img {
  width: 100%;
  height: 60px;
  padding: 60px;
}

main aside {
  width: 100%;
  float: left;
}

main>aside ul li {
  padding: 70px 0 70px 30px;
  list-style: none;
  width: 14.2857%;
  float: right;
}

main>aside ul li a {
  color: rgb(0, 0, 0);
}

main>section {
  width: 100%;
  float: left;
}

main>section section {
  width: 50%;
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/