<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Blank Template</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">CLASSES</a></li>
				<li><a href="#">HIRE US</a></li>
			</ul>
			<h4>LG logo</h4>
			<button>DONATE</button>
		</nav>
	</header>


	<script src="https://kit.fontawesome.com/26951c5689.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>