/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}

body {
  font-family: 'RodchenkoCTT';
  background: rgb(243, 247, 251);
}


/******************************************
/* LAYOUT
/*******************************************/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 40px;
  background: rgb(243, 247, 251);

}

nav .fa-bars {
  display: none;
}



nav a {
  color: black;
  text-decoration: none;
}

nav>ul {
  display: flex;
  justify-content: space-around;
  flex-basis: 25%;
  list-style: none;
}

#source {
  font-size: 3rem;
  color: rgb(31, 52, 71);
}

nav>ul li a {
  color: rgb(95, 110, 135);
  font-size: 1.5rem;
}

nav>button {
  width: 8rem;
  height: 4rem;
  font-size: 1.8rem;
  border: none;
  background: rgb(37, 54, 71);
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header span {
  font-size: 1.3rem;
  color: rgb(122, 143, 161);
}

header section {
  display: flex;
  flex-direction: column;
  padding: 40px;

}

header section div {
  display: flex;
}

header section div form input {
  height: 2rem;
  border: none;
  background: rgb(218, 228, 236);
}

header section div button {
  border: none;
  color: white;
  background: rgb(37, 54, 71);
}

header img {
  width: 60em;
  height: 40rem;
}

header p {
  font-size: 1.3rem;
  color: rgb(102, 116, 129);
}

main {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

main i {
  font-size: 3rem;
  padding-top: 10px;
}

main h4 {
  font-size: 2.2rem;
}

main p {
  font-size: 1.4rem;
  padding-right: 30px;
  color: rgb(149, 161, 171);
}

main span {
  font-size: 1.3rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width:896px) {
  body {
    background: rgb(243, 247, 251);

  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: solid 2px rgb(219, 226, 234);
    padding: 20px 0;
  }

  nav .fa-bars {
    display: block;
    position: absolute;
    left: 20px;
    font-size: 2.5rem;
    color: rgb(37, 54, 71);
  }

  nav ul,
  nav button {
    display: none;
  }

  nav #source {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  header {
    display: flex;
    flex-direction: column;
  }

  header section {
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
  }

  header section span {
    font-size: 2rem;
  }

  header div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header div form {
    height: 5rem;
  }

  header div input {
    width: 100%;
    height: 4rem;
    padding: 2rem 0 2rem 1rem;
  }

  header section p {
    font-size: 1.8rem;
  }

  header img {
    width: 100%;
    height: auto;
    margin: 2rem auto 0 auto;
    display: block;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 1rem 0;
    border-bottom: solid 2px rgb(219, 226, 234);
  }

  main div p {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
  }

  .last {
    border-bottom: none;
  }

}