/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere eles in the document. */
section aside h3 {
    color: blue;
}

/* Please make "I like turtles." red */
section#chunkyMilk h2 {
    color: red;
}

/* Please select "Hello, world!" with the highest level of specificity possible*/
body #rugratsWildThornberrysBestCrossOverAllTime h2 {
    color: purple;
}

/* Please select "Let's get down to business..." with the highest level of specificity possible */
section+section #chunkyMilk .turtles {
    color: teal;

}