<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


	<title>Blank Template</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<nav>
		<i class="fa-solid fa-bars"></i>
		<a id="source" href="#">Source</a>
		<ul>
			<li><a href="#">First Link</a></li>
			<li><a href="#">Sencond Link</a></li>
			<li><a href="#">Third Link</a></li>
			<li><a href="#">Fourth Link</a></li>
		</ul>
		<button>Button</button>
	</nav>

	<header>
		<section>
			<span>Tagline</span>
			<h2>Source helps creators do more of what they love</h2>
			<div>
				<form action="">
					<input type="text" placeholder="placeholder">
				</form>
				<button>Button</button>
			</div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repudiandae asperiores quidem deserunt
				facere corrupti laudantium!</p>
		</section>
		<img src="./css/source-wireframe-max-schneider.webp" alt="">
	</header>

	<main>
		<div>
			<i class="fa-solid fa-snowflake"></i>
			<h4>Feature One</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sint quos eius corrupti debitis ut
				nesciunt.</p>
			<span>First Link > </span>
		</div>
		<div>
			<i class="fa-solid fa-sun"></i>
			<h4>Feature Two</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sint quos eius corrupti debitis ut
				nesciunt.</p>
			<span>First Link > </span>
		</div>
		<div>
			<i class="fa-solid fa-money-bill"></i>
			<h4>Feature Three</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sint quos eius corrupti debitis ut
				nesciunt.</p>
			<span>First Link > </span>
		</div>
		<div class="last">
			<i class="fa-solid fa-feather"></i>
			<h4>Feature Four</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sint quos eius corrupti debitis ut
				nesciunt.</p>
			<span>First Link > </span>
		</div>
	</main>


	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>