* {
    box-sizing: border-box;
}

header,
footer {
    height: 100px;
    border: 5px solid black;
    clear: both;
}

section {
    height: 300px;
    width: 15%;
    border: 5px solid black;
    float: left;
}

.two {
    height: 300px;
    width: 55%;
    border: 5px solid black;
    float: left;
}

.three-four {
    height: 300px;
    width: 15%;
    border: 5px solid black;
    float: left;
}