/* Please Make only Rhino and Zebra Blue */
/* .africa {
    color: blue;
} */


/* Please Make only Hufflepuff Gold */
/* #bestHouse {
    color: gold;
} */

/* Please select Duck with the highest level of specificity possible */
/* article.areDucksDinosaurs h2.likesToQuack {
    color: brown;
} */

/* Please select Rhino with the highest level of specificity possible */

#hi {
    border: 5px solid red;
    border-left: none;
}